body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
   font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width img{
    width: 600px;
    padding-right: 50%;
    
}
.half-width{
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(purple,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background: no-repeat;
    
}