body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
   font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width img{
    width: 600px;
    padding-right: 50%;
    
}
.half-width{
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(purple,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background: no-repeat;
    
}
.ex-items{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 50px rgb(235, 82, 71) ;
    border-left: 7px solid;
    border-image: linear gradient(blue,cyan);
    border-image-slice: 1;}


footer p{
    text-align: center;
}

   
  
    



h2{
    font-size: 30px;
    
}